body {
  background-color: #fddeb0;
  font-family: cursive;
}
body,
ul {
  margin: 0;
  padding: 0;
}

input {
  height: 40px;
  width: -webkit-fill-available;
  border: none;
  background: antiquewhite;
  border-radius: 10%;
  font-size: x-large;
  font-family: cursive;
}
input::placeholder {
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  padding-top: 10px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.search-btn {
  margin-left: 10px;

  border-radius: 30%;
  background: antiquewhite;
  border: none;
}

.grid-container {
  margin: 10px;
  max-height: 650px;
  overflow-y: auto;
  border: none;
}
#pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.img-container {
  padding: 10px;
  position: relative;
  display: inline-block;
  height: fit-content;
  box-shadow: 0px 0px 34px 6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 34px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 34px 6px rgba(0, 0, 0, 1);
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.pic {
  max-width: 100%;
  height: auto;
}
.pic:hover {
  cursor: pointer;
  opacity: 0.8;
}
.additional-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .additional-info {
  opacity: 1;
  cursor: pointer;
}

#prev,
#next {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: antiquewhite;
  color: rgb(243, 186, 111);
  border: 2px solid antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: cursive;
}
#prev:hover,
#next:hover {
  background-color: #9e6e26;
  color: #fff;
}
#prev:disabled,
#next:disabled {
  background-color: gray;
  border: 2px solid gray;
}
#prev:disabled:hover,
#next:disabled:hover {
  background-color: gray;
  border: 2px solid gray;
  color: rgb(243, 186, 111);
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  background-color: #f3bb67;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#tags {
  margin: 10px;
  white-space: nowrap;
  max-width: fit-content;
  overflow-x: auto;
  border: none;
}

.tags-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: antiquewhite;
  color: rgb(243, 186, 111);
  border: 2px solid antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: cursive;
}

.tags-btn:hover {
  background-color: #9e6e26;
  color: #fff;
}
.tags-btn-active {
  background-color: #9e6e26;
  color: #fff;
}
/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .menu-toggle i {
    font-size: 32px;
  }
}
