.grid-container {
  max-height: 650px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
#pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.img-container {
  padding: 10px;
}

.pic {
  max-width: 100%;
  height: auto;
}
.pic:hover {
  cursor: pointer;
  opacity: 0.8;
}

#prev,
#next {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#prev:hover,
#next:hover {
  background-color: #0056b3;
  color: #fff;
}
#prev:disabled,
#next:disabled {
  background-color: gray;
  border: 2px solid gray;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}
body,
ul {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .menu-toggle i {
    font-size: 32px;
  }
}
